.card--block{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  .card--supplier{
    svg{
      height: 100px;
      width: 100px;
    }
    
  }
  .card--VehicleType{
    svg{
      height: 50px;
      width: 50px;
    }
  }
}